{% extends '../app.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
    <div style="display: grid; place-items: center">
    <div class="card">
        <div class="card-header bg-dark text-light">
            Edit User
        </div>
        <div class="card-body" style="width: 500px">
            <form action="{% url "update" id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_fullname">{{ form.fullname.label }}</label>
                    {{ form.fullname }}
                </div>
                <div class="form-group">
                    <label for="id_fullname">{{ form.address.label }}</label>
                    {{ form.address }}
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}